.hidden {
	display: none;
}

* {
	font-family: 'Montserrat', sans-serif;
	font-size:12px;
	color:#1c5771;
	margin:10px auto;
	padding: 0;
	box-sizing:border-box;
}

body {
	font-family:"Sono",sans-serif;
	font-size:14px;
	background-color:#fff7dc;
	text-align:center;
}

h1 {
	font-size:45px;
	text-align:center;
	color:#a29bfe;
}

h2 {
	font-size:48px;
}

.name {
	width:142px;
	text-align:center;
	margin:auto;
}

.todo {
	width:205px;
	text-align:center;
	margin:auto;
}

.button {
	width:54px;
	margin:0px auto;
}

button {
	margin:0px auto;
}

.sonoFont {
	font-family:"Sono",sans-serif;
}

ul {
	background-color:#ffeaa7;
	height:200px;
	width:200px;
	box-sizing:border-box;
	margin: 8px auto;
	border: 1.4px dashed #fab1a0;
	padding: 0px;
	list-style:none;
}

li {
	margin:auto;
}